version: '3.9'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${APP_USER}
      MYSQL_PASSWORD: ${APP_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - app-net
  proemtheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      app-net:
        ipv4_address: 172.28.1.2
  node-exporter:
    image: prom/node-exporter
    ports:
      - "9100:9100"
    networks:
      - app-net
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
    volumes:
    - ./datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    - ./dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml
    - ./dashboard.json:/etc/grafana/provisioning/dashboards/dashboard.json
    networks:
      - app-net        
  app:
    image: alissondrs/app-web:logs-metrics
    ports:
      - "8080:8080"
    environment:
      - DB_NAME=${DB_NAME}
      - DB_HOST=db
      - DB_PORT=3306
      - APP_USER=${APP_USER}
      - APP_PASSWORD=${APP_PASSWORD}
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 3s
      timeout: 1s
      retries: 3      
    volumes:
      - ./app.log:/app/app.log
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
volumes:
  mysql-data:

  